* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main h1 {
    color: #ff8800;
    text-align: center;
    font-size: 48px;
    padding: 28px 0;
}

.items-list {
    width: 80%;
    margin: 0 auto;
}

.items-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;
}

.item {
    background-color: #ffedd8;
    border-radius: 6px;
    overflow: hidden;
}

.item img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.item-content {
    padding: 15px;
    text-align: center;
}

.item-content * {
    margin: 15px 0;
}

.btn {
    background-color: #ffa200;
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
}

.btn:hover, .btn:active {
    background-color: #ffa900;
}